h1 {
  color: #38b2ac;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2em;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #6f6f6f;
}

button {
  display: inline-block;
  padding: 0.8em 1em;
  margin: auto 0.5em;
  border-radius: 0.5em;
  color: #FFFFFF;
  background-color: #38b2ac;
  text-align: center;
  transition: all 0.2s;
  border: none;
  font-variant: all-small-caps;
  cursor: pointer;
}

button:hover {
  background-color: #319795;
}

button.secondary {
  background-color: #C8c8c8;
}

button.secondary:hover {
  background-color: grey;
}

button.control-panel-button {
  background-color: #319795;
}

button.control-panel-button:hover {
  background-color: #4abfb9;
}

input {
  margin: auto 0.5em;
  padding: 0.75em;
  min-width: 70px;
  border-radius: 0.3rem;
  border: solid;
  border-width: thin;
  border-color: #C8c8c8;
}


::placeholder {
  color: #C8c8c8;
}

form {
  display: table;
  margin: 1em auto;
}

label {
  color: #FFFFFF;
}

.app-wrapper {
  width: 400px;
  margin: auto;
}

.svg {
  width: 400px;
  height: 400px;
  z-index: 4000;
  position: absolute;
  margin: auto; 
  display: block;
}

.map {
  width: 400px;
  height: 400px;
  margin: auto;
}

#current-map {
  border: solid;
  border-width: 10px;
  border-radius: 1em;
  border-color: #38b2ac;
  box-sizing: border-box;
  overflow: overlay;
}

.saved-map {
  border: solid;
  border-width: 1px;
  border-radius: 0.5em;
  border-color: #C8c8c8;
  display: inline-block;
  overflow: overlay;
}

.center{
  margin: 1em auto auto auto;
  display: table;
}

.control-panel {
  margin: -1.1em auto auto auto;
  display: table;
  background-color: #38b2ac;
  padding: 1em 0 0.5em 0;
  border-radius: 0 0 1em 1em;
  width: 400px;
}

